<div class="container text-center margin-from-top margin-from-bottom">
    <div class="row">
        <div class="col-sm-3 card">
            <div class="card">
                <div class="card-body">
                    <div class="h3">
                        <%= currentUser.fullName %>
                    </div>
                    <div class="h5 text-muted">@<%= currentUser.username %>
                    </div>
                    <img src="images/avatar.png" class="rounded-circle center" height="100" width="100" alt="Avatar">
                </div>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <p class="h4">Number of posts:</p>
                    <div class="h4">
                        <%= currentUser.numberOfPosts %>
                    </div>
                </li>
                <li class="list-group-item">
                    <p><a href='#' class="h4">Follower</a></p>
                    <div class="h4">5</div>
                </li>
                <li class="list-group-item">
                    <p><a href='#' class="h4">Following</a></p>
                    <div class="h4">20</div>
                </li>
                <li class="list-group-item">
                    <p><a href='#' class="h4">Messages</a></p>
                </li>
            </ul>
        </div>

        <div class="col-sm-6">
            <%- include('./posts/new.ejs') %>
                <br>
                <%- include('./posts/index.ejs') %>
        </div>

        <div class="col-sm-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <br>


            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Trending hashtags</h5>
                    <ul class="list-unstyled text-small">
                        <% for(i = 1; i<=10; i++){ %>
                                <% if (trending[i-1]) { %>
                                    <li class="list-group-item"><a class="link-secondary" href="#">
                                    <%= i %>. #<%= trending[i-1]._id.hashtag %>
                                <% } %>
                            </a></li>
                        <% } %>
                    </ul>
                </div>
            </div>
            <br>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Who to follow</h5>
                    <ul class="list-unstyled text-small">
                        <% users.forEach(user=> { %>
                            <% if (user.email != currentUser.email) { %> 
                                <li class="list-group-item">
                                    <a class="link-secondary" href="<%= `/users/${user._id}` %>">@<%= user.username %></a>
                                    <button type="button" class="btn btn-primary btn-sm">Follow</button>
                            <% } %>
                            </li>
                        <% }) %>
                    </ul>
                </div>
            </div>

        </div>

    </div>
    <br><br>